@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* background-color: burlywood; */
}

button.is-orange {
    background-color: rgb(236, 177, 42);
    border-color:rgb(236, 177, 42);
    color: white;
}

.no-margin {
    margin: 0 !important;
}

.nav-header {
    /* position: absolute;
    left: 0;
    top: 0;
    width: 100%; */
}

.navbar-brand, .navbar-menu {
    background-color: rgb(227, 226, 207);
}

.nav-header-offset {
    /* padding-top: 60px; */
}

section {
    height: 100%;
}

section:nth-child(even) {
    /* background-color: rgb(243, 243, 243); */
    background-color: rgb(227, 226, 207);
}

.hero {
    white-space: nowrap;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 60px);
}

.hero aside {
    padding: 3rem;
}

.hero .title {
    font-size: 46pt;
    font-weight: bold;
}

.hero aside:first-child > * {
    margin-bottom: 2.5rem;

aside.donation {
    height: 35vh;
    background-image: url('img/donation.svg');
    background-repeat: no-repeat;
    /* background-color: rgb(195, 140, 97); */
    align-content: space-around;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

aside.donation h2 {
    color: white;
    font-size: min(36pt, 8vw);
    font-weight: bold;
    line-height: 1em;
    margin-bottom: .4em;
}

aside.donation .buttons {
    text-align: end;
}

aside.donation button:not(:first-child) {
    margin-left: 1vw;
}

@media only screen and (max-width: 420px) {
    aside.donation .buttons {
        text-align: start;
    }

    aside.donation button {
        font-size: .75rem;
    }
}

aside.donation p{
    color: rgb(221, 219, 215);
}

aside > address {
    padding: 1vh 3vw 1vh !important;
    height: 22vh;
    text-align: center;
    background-color: rgb(233, 233, 217);
    display: flex !important;
    /* justify-content: center; */
    align-items: center;
}

aside > address > .icon {
    font-size: 20pt;
    color: rgb(105, 174, 170);
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background-color: white;
    border-radius: 50%;
}

aside > address > .details {
    text-align: start;
    color: rgb(146, 136, 112);
    font-style: normal;
}

aside > address > .details *:last-child {
    font-weight: 600;
    color: rgb(72, 49, 29);
}

aside > address:nth-child(2) {
    background-color: rgb(226, 224, 203);
}

aside > address:nth-child(3) {
    background-color: rgb(201, 199, 173);
}

footer {
    height: max(40vh, auto);
    background-color: rgb(195, 140, 97);
    padding: 6vh 6vw 6vh;
}

footer h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer ol {
    list-style-type: none;
}

footer ol > li {
    margin-bottom: .3rem;
}

footer .social {
    text-align: end;
}

footer .social i {
    font-size: 28pt;
    margin-left: .5vw;
}

footer .extra-links {
    text-align: end;
}

footer .extra-links a:not(:first-child) {
    margin-left: 2vw;
}

footer * {
    color: white;
}

@media only screen and (max-width: 420px) {
    footer * {
        text-align: center !important;
    }
}